<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include style.css
</head>

<body>
    <!-- <p>
        |#{content}
    </p> -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">News</a></li>
            <li><a href="/">Tech</a></li>
            <li><a href="/">About</a></li>
        </ul>
    </nav>

    <section>
        <div id="first-section">
            <ul>
                <li>Don't play the game. Win it.</li>
                <li>Life is a game, Play to win.</li>
                <li>Life Is More Fun If You Play Games.</li>
                <li>Just one more game.</li>
            </ul>
        </div>
        
        <h2>👇Join The PC Gaming Community👇</h2>
        <div id="second-section">
            <form action="/" id="information" method="POST"> 
                    <input type="text" name="Username" placeholder="Enter Username">
                    <input type="text" name="FullName" placeholder="Enter Full Name">
                    <input type="email" name="email" id="email" placeholder="Enter Your Email Id">
                    <input type="password" name="password" id="password" placeholder="Enter Your password">
                    <input id= "butt" type="submit" value="Submit">
            </form>    
        </div>
    </section>

</body>

</html>