//- base.pug, its basic page , main template 
doctype html
html
  head
    title ErMapsh Esport Acedamy
    block scripts
    block style 
  body
    nav#navbar.top 
     ul
      //- li #[a(href='/' target= "_blank") Pug Document] 
      li #[a(href='/') Home]
      li #[a(href='/contactus' method='post') Contact us]
      //- li #[a(href='/' target= "_blank") HtmlToPug]
      //- li #[a(href='/' target= "_blank") CodeWithHarry]
    block content
    footer 
      h2 Copyrighted © 2021 ErMapsh.com | All rights reserved 