*{
    padding: 0px;
    margin: 0px;
    
}

nav{
    width:330px;
    margin: auto;
    background-color: black;
    display: flex;
    justify-content: space-between;

}

nav li{
    list-style: none;
    padding: 0px;
    display: inline-block;
}
.nav-item{
    color: white;
    font-size: 19x;
    padding: 19px;
    
}
a{
    color: white;
    text-decoration: none;
}

section{
    width: 80%;
    margin: auto;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    width: 40%;
    display: inline-block;
    padding: 14px;
    border: 3px solid red;
    margin: 40px;
    font-size: 25px;
    background-color: burlywood;
}

nav::before{
    content: ' ';
    background: url('https://source.unsplash.com/user/erondu/1600x900');
    top: 0px;
    left: 0px;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}