body{
    background-color: black;
    margin: 50px;

}

.grid{
    background-color: rgb(31, 196, 187);
    display: grid;
    /* grid-template-rows: 133px 133px 133px;
    grid-template-columns: 133px 133px 133px; */
    /* grid-template-rows: 1fr 1fr 1fr; set a three row by in equal size */
    /* grid-template-columns: 1fr 1fr 1fr; set a three row by in equal size */

    grid-template-columns: 3fr 9fr; /*set a 4 columns by in equal size*/
    grid-template-rows: 100vh; 
    row-gap: 10px;
    column-gap: 15px;
}

.item{
    background-color: white;
    color: black;
}
